@use 'reset.css';

// mixin 영역

@mixin title {
  font-size: 40px;
  font-weight: bold;
}

@mixin des-text {
  font-size: 16px;
  font-weight: normal;
  color: #b4b4b4;
}

@mixin subtitle {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
}

@mixin brand-color {
  background-color: #a98524;
}

// mixin 영역 끝

// 공통영역 css 

.blind {
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 1px;
}

.title {
  @include title;
}

.des-text {
  @include des-text;
}

.subtitle {
  @include subtitle;
}

body {
  font-family: 'EB Garamond', 'Noto Sans KR', sans-serif;
  position: relative;
}

span li button {
  font-family: 'Noto Sans KR', sans-serif;
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  @include brand-color;
  border-style: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  width: 105px;
  height: 38px;
  font-family: 'Noto Sans KR', sans-serif;
}

.btn-arrow{
  margin-top: 6px;
  width: 30px;
  height: 30px;
  background-image: url('../img/right-arrow-bk.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.btn-arrow-white{
  margin-top: 6px;
  width: 30px;
  height: 30px;
  background-image: url('../img/right-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

// 공통 영역 끝

// header 영역 시작
header {
  position: relative;
  z-index: 99;
  min-height: 55px;
}
.gnb .gnb-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.gnb .logo img {
  height: 35px;
}

.gnb .nav {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.gnb nav {
  width: 900px;
}

.gnb .nav li a{
  color: #fff;
}

.gnb ul {
  display: flex;
}

.gnb ul li{
  padding-right: 20px;
}

.gnb .gnb-bars{
  cursor: pointer;
}

.gnb .gnb-bars li{
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: relative;
  margin-top: 4px;
}

.gnb .gnb-bars li::before{
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 5px;
}

.gnb .gnb-bars li::after{
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 10px;
}



// header 영역 끝

// main 영역 시작
main {
  margin-top: -105px;
}

.main-bg {
  top: 0;
  left: 0;
  height: 100vh;
  background-image: url('../img/sofitel_main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.res-inner {
  width: 800px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  background-color: rgba(255, 255, 255, 0.9);
  outline: 0;
}

.res-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.res-search .search-item {
  display: flex;
  justify-content: center;
  position: relative;
}

.res-search .search-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #b4b4b4;
  right: 0;
  top: 3px;
}

.res-search .search-date {
  width: 350px;
}

.res-search .stay {
  padding: 20px 38px 0px;
}

.res-search .search-person {
  width: 270px;
}

.res-search .person {
  text-align: center;
  padding: 0px 10px;
}

.res-search .search-item .item-text{
  display: block;
  color: #b4b4b4;
  font-size: 14px;
}

// main 영역 끝

// section 영역 시작

// 룸패키지 영역 시작
.room-packages {
  margin-top: 160px;
}

.room-packages .room-packages-title {
  text-align: center;
  position: relative;
}

.room-packages .btn-more {
  color: #b4b4b4;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 30px;
}

.room-packages .room-packages-item-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.room-packages .room-packages-item-wrap a {
  width: calc(100% / 3 - 20px);
}

.room-packages .room-packages-item {
  width: 100%;
}

.room-packages .room-packages-item img{
  height: 250px;
  border-radius: 15px;
}

.room-packages .room-packages-item h3{
  padding: 6px 0 0 6px;
}

.room-packages .room-packages-item ul{
  padding-top: 6px;
}

// 룸패키지 영역 끝
// video 영역 시작
.video {
  margin-top: 160px;
  height: 1080px;
  position: relative;
}

.video .video-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .4s ease;
}

.video .door {
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: #fff;
  width: calc((100vw - 200px) / 2);
  height: 100%;
}
.video .bg-video {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 1920px;
  margin: 0 auto;
}

.video .is-left {
  left: 0;
}

.video .is-right {
  right: 0;
}

.video video {
  width: 100%;
}

// video 영역 끝
// 룸 소개 영역 시작
.rooms {
  padding-top: 160px;
}

.rooms .rooms-title {
  padding-left: 720px;
}

.rooms .rooms-more-btn {
  margin-top: 16px;
}

.rooms .rooms-item-wrap {
  display: flex;
  flex-direction: column;
}
.rooms .rooms-item-wrap a {
  width: 550px;
}

.rooms .rooms-item{
  width: 550px;
}

.rooms .magnifique {
  margin: 236px 60px 0 0;
  align-self: flex-end;
}

.rooms .luxury-lake {
  margin: 236px 0 0 60px;
}

.rooms .club-luxury {
  margin: 236px 0 0 0;
  align-self: flex-end;
}

.rooms .rooms-item img{
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rooms .rooms-item h3 {
  padding: 6px 0;
}



// 룸 소개 영역 끝
// banner 영역 시작
.banner {
  margin-top: 160px;
  position: relative;
}

.banner .banner-bg {
  height: 300px;
  background-image: url('../img/19201080.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0005;
  background-blend-mode: darken;
}

.banner .banner-text {
  padding-top: 80px;
  text-align: center;
  color: #fff;
}

.banner .banner-text h3 {
  font-size: 18px;
  font-weight: bold;
}

.banner .banner-text p {
  font-size: 22px;
  font-weight: bold;
  padding-top: 26px;
}

.banner .banner-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// banner 영역 끝
// 호텔 인포 영역 시작

.hotel-info {
  margin-top: 160px;
}

.hotel-info .hotel-info-inner {
  height: 692px;
  display: flex;
  justify-content: space-between;
}

.hotel-info .hotel-info-left {
  width: 50%;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 15px;
}

.hotel-info .hotel-info-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.hotel-info .info-bg {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
}

.hotel-info .info-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .4s ease;
}

.hotel-info .is-studio {
  height: 100%;
}

.hotel-info .is-guide {
  height: 272px;
}

.hotel-info .is-dining {
  height: 396px;
}

.hotel-info .is-studio::before {
  background-image: url('../img/Sofitel-Ambassador-Seoul-Studio.jpg');
  background-color: #0005;
  background-blend-mode: darken;
}

.hotel-info .is-guide::before {
  background-image: url('../img/KakaoTalk_20221013_142329005.jpg');
  background-color: #0005;
  background-blend-mode: darken;
}

.hotel-info .is-dining::before {
  background-image: url('../img/dining.jpg');
  background-color: #0005;
  background-blend-mode: darken;
}

.hotel-info .info-bg:hover::before{
  transform: scale(1.1);
}

.hotel-info .hotel-info-text {
  position: relative;
  color: #fff;
}

.hotel-info .hotel-info-text h3 {
  color: #fff;
}
.hotel-info .hotel-info-text h5 {
  padding-top: 30px;
  font-weight: normal;
  font-size: 16px;
}

// 호텔 인포 영역 끝
// 구글맵 영역 시작

.map {
  margin-top: 160px;
}

.map .map-inner {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  position: relative;
}

.map div {
  width: 100%;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map .map-info-container {
  width: 360px;
  padding: 40px;
  background-color: rgba(76, 66, 65, 0.9);
  height: 400px;
  position: absolute;
  top: 57%;
  left: 16%;
  transform: translate(-50%, -50%);
}

.map .map-inner-text {
  color: #fff;
}

.map .map-inner-text a{
  color: #fff;
}

.map .map-inner-text a:hover{
  color: #fff;
}

.map .map-inner-text li {
  padding: 5px 0;
}

// 구글맵 영역끝
// 뉴스레터 영역 시작

.newsletter {
  margin-top: 160px;
}


.newsletter .content-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.newsletter .news-title {
  width: 22%;
}


.newsletter .news-title h3{
  font-size: 28px;
  font-weight: 500;
}

.newsletter .content-container input {
  width: 570px;
  line-height: 56px;
  border: 1px solid #000;
  font-size: 14px;
  margin-right: 30px;
  padding-left: 20px;
}

.newsletter .content-container button {
  height: 58px;
  width: 200px;
  font-size: 18px;
  @include brand-color;
}

// 뉴스레터 영역 끝
// footer 영역 시작

footer {
  margin-top: 160px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 56px 0;
}

footer .footer-menu::after {
  content: '';
  display: block;
  clear: both;
}

footer ul {
  float: left;
}

footer li.is-point {
  color: #000;
}

footer ul::after{
  content: '';
  display: block;
  clear: both;
}

footer li{
  float: left;
  color: #b4b4b4;
  padding-right: 24px;
  font-size: 14px;
  cursor: pointer;
}

footer address {
  padding-top: 32px;
  color: #666666;
  font-size: 12px;
}

footer .copyright {
  padding-top: 26px;
  font-size: 12px;
  color: #666666;
}